{% extends "layout/base_doctor.html" %}

{% block title %}
<title>Lịch làm việc bác sĩ</title>
{% endblock %}

{% block content %}
<!DOCTYPE html>
<html lang='vi'>
<head>
    <meta charset='utf-8'/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home_schedule_doctor.css') }}">
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.14/index.global.min.js'></script>
    <style>
        body {
          font-family: Arial, Helvetica, sans-serif;
          padding: 20px;
        }
        #calendar {
          max-width: 870px;
          margin: 0 auto;
        }
    </style>
</head>
<body>

<div id='calendar'></div>

<script>

    document.addEventListener('DOMContentLoaded', function() {
      var calendarEl = document.getElementById('calendar');


      var calendar = new FullCalendar.Calendar(calendarEl, {

        headerToolbar: {
          left: 'prev,next today',
          center: 'title',
          right: 'dayGridMonth,timeGridWeek,timeGridDay' // Các nút chuyển đổi chế độ xem
        },

        initialView: 'timeGridDay',

        initialDate: '2025-08-28',

        locale: 'en',

        navLinks: true,

        editable: true,

        slotMinTime: '07:30:00',
        slotMaxTime: '17:00:00',

        businessHours: [
    {
      daysOfWeek: [1, 2, 3, 4, 5, 6, 0],
      startTime: '07:30',
      endTime: '11:00'
    },
    {
      daysOfWeek: [1, 2, 3, 4, 5, 6, 0],
      startTime: '12:00',
      endTime: '17:00'
    }
  ],




         events: function() {

  return fetch('/home_schedule_doctor')
    .then(response => {
      if (!response.ok) {
        throw new Error('Network response was not ok');
      }
      return response.json();
    })
    .then(data => {

      return data.events;
    })
    .catch(error => {
      console.error('There has been a problem with your fetch operation:', error);

      return [];
    });
}
      });


      calendar.render();
    });
</script>

</body>
</html>
{% endblock %}