{% extends "layout/base_doctor.html" %}

{% block title %}
<title>Lịch làm việc bác sĩ</title>
{% endblock %}

{% block content %}
<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thông Tin Cuộc Hẹn</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/list_appt.css') }}">
    <script type="module" src="{{ url_for('static', filename='js/list_appt.js') }}"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>
<body>
<div class="page-content">
    <div class="cards-container">
        {% for appt in list_appt %}

       <div class="appointment-card">
                <div class="info-row">
                    <span class="label">Mã cuộc hẹn:</span>
                    <span class="value">#{{ appt.id }}</span>
                </div>
                <div class="info-row">
                    <span class="label">Phòng:</span>
                    <span class="value">{{ appt.room }}</span>
                </div>
                <div class="info-row">
                    <span class="label">Mã bệnh nhân:</span>
                    <span class="value">{{ appt.patient_id }}</span>
                </div>
                <div class="info-row">
                    <span class="label">Ghi chú:</span>
                    <span class="value">{{ appt.note }}</span>
                </div>
                <div class="info-row">
                    <span class="label">Trạng thái:</span>
                    <span class="value status-accepted">Đã chấp nhận</span>
                </div>
                <div class="info-row">
                    <span class="label">Thời gian hẹn:</span>
                    <span class="value">{{ appt.date }}</span>
                </div>
                <div class="actions">
                    <button class="btn btn-cancel" data-id="{{ appt.id }}" data-date="{{ appt.date }}">>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16"><path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"/><path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"/></svg>
                        Hủy Lịch
                    </button>
                    <button class="btn btn-complete" data-id="{{ appt.id }}">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16"><path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425z"/></svg>
                        Hoàn Thành
                    </button>
                </div>
            </div>

    {% endfor %}
    </div>
    {% if pages > 1 %}
    <div class="pagination-wrapper">
        <nav>
            <ul class="pagination">
                {% for i in range(1, pages + 1) %}
                <li class="page-item">
                    <a href="/list-appt?page={{ i }}">{{ i }}</a>
                </li>
                {% endfor %}
            </ul>
        </nav>
        {% endif %}
    </div>
</div>
</body>
</html>
{% endblock %}