{% extends 'layout/base_admin.html' %}

{% block title %}
<title>list-doctor</title>
{% endblock %}

{% block styles %}
    <!-- Custom styles for this page -->
    <link href="{{ url_for('static', filename='vendor/datatables/dataTables.bootstrap4.min.css') }}" rel="stylesheet">
{% endblock %}


{% block content %}
<div class="container-fluid">

    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800"></h1>
        <div id="exportButton"  class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
                class="fas fa-download fa-sm text-white-50"></i> Xuất file</div>
    </div>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary"></h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                    <tr>
                        <th>Tên</th>
                        <th>Tên đăng nhập</th>
                        <th>Mật khẩu</th>
                        <th>Số điện thoại</th>
                        <th>Email</th>
                        <th>Ngày tạo</th>
                        <th>Mô tả</th>
                        <th>Bằng cấp chứng chỉ</th>
                        <th>Chuyên khoa</th>
                        <th>Kinh nghiệm</th>


                    </tr>
                    </thead>
                    <tbody>
                    {% for d in user %}

                    <tr>
                        <td> {{ d[0] }}</td>
                        <td> {{ d[1] }}</td>
                        <td> {{ d[2] }}</td>
                        <td> {{ d[3] }}</td>
                        <td> {{ d[4] }}</td>
                        <td> {{ d[5] }}</td>
                        <td> {{ d[6] }} </td>
                        <td> {{ d[7].value }} </td>
                        <td> {{ d[8] }} </td>
                        <td> {{ d[9] }} năm </td>

                    </tr>
                    {% endfor %}



                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}


{% block scripts %}
<!-- Page level plugins -->
<script src="{{ url_for('static', filename='vendor/datatables/jquery.dataTables.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendor/datatables/dataTables.bootstrap4.min.js') }}"></script>

<!-- Page level custom scripts -->
<script src="{{ url_for('static', filename='js/demo/datatables-demo.js') }}"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.17.0/xlsx.full.min.js"></script><!-- Thư viện xuất Excel -->
<script src="{{ url_for('static', filename='js/export_file_excel.js') }}"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.17.0/xlsx.full.min.js"></script><!-- Thư viện xuất Excel -->
<script src="{{ url_for('static', filename='js/export_file_excel.js') }}"></script>
{% endblock %}


